service: greenway-lambda-poc
frameworkVersion: "2"

provider:
  name: aws
  runtime: nodejs12.x

functions:
  authorizer:
    handler: handler.verifyToken

  create:
    handler: handlers/createUser.handler
    events:
      - http:
          path: users/create
          method: post
          cors: true
          authorizer:
            name: authorizer
  getOne:
    handler: handlers/getUser.handler
    events:
      - http:
          path: users/{id}
          method: get
          cors: true
          authorizer:
            name: authorizer
  getAll:
    handler: handlers/readUser.handler
    events:
      - http:
          path: users
          method: get
          cors: true
          authorizer:
            name: authorizer
  update:
    handler: handlers/updateUser.handler
    events:
      - http:
          path: users/{id}
          method: put
          cors: true
          authorizer:
            name: authorizer
  delete:
    handler: handlers/deleteUser.handler
    events:
      - http:
          path: users/{id}
          method: delete
          cors: true
          authorizer:
            name: authorizer

  login:
    handler: handlers/loginUser.handler
    events:
      - http:
          path: users/login
          method: post
          cors: true

  password:
    handler: handlers/updateUserPassword.handler
    events:
      - http:
          path: users/updatePassword
          method: post
          cors: true

plugins:
  - serverless-offline
